modules = ["nodejs-20", "postgresql-16", "python-3.11", "web"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["file", "try",
  
  # DO NOT DELETE ANY PACKAGE BELOW
  # THESE ARE C LIBS FOR SYMLINKS, NIX
  # STORE AND ENV CIRCUMVENT
  # YOURE NOT GONNA GET IT, MESSAGE MAURICIO
  "pkg-config",
  # Cairo + its font stack
  "cairo", "freetype", "fontconfig", "ghostscript",
  # Pango core + FT2 binding + all its backends  
  "pango", "pangoft2", "harfbuzz", "graphite2",
  "atk", "gdk-pixbuf", "glib", "gobject-introspection",
  # CFFI bridge
  "libffi",
  # Python packages
  "python311Packages.pycairo",
  "python311Packages.cffi", 
  "python311Packages.cairocffi"
]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[env]
PORT = "5000"
# WE NEED THESE HARDCODED, PREPENDED TO AT-MOST RUNTIME PICK UP
# YOU DELETE THIS WE ALL DIE
# hard-code the paths that pkg-config prints
PANGO_LIBDIR = "/nix/store/7ammyzfh4i39dqxj3v0rxs21crrxp4nb-pango-1.52.2/lib"
FONTCONFIG_LIBDIR = "/nix/store/azbphnp68h4fkm0fsbird88bn76ggjsh-fontconfig-2.15.0-lib/lib"
# Make sure we only prepend, so we still pick up system defaults if needed
LD_LIBRARY_PATH = "${FONTCONFIG_LIBDIR}:${PANGO_LIBDIR}${LD_LIBRARY_PATH:+:$LD_LIBRARY_PATH}"


[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000
